* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    /* nosaka krāsu visiem elementiem (pogām, kubiņiem, fonam utt.)*/
    --bgcol: #2D132C;
    --mcol0: #FF6B6B;
    --mcol1: #FFA07A;
    --mcol2: #F08080;
    --txtcol0: #FDFEFE;
    --txtcol1: #FDFEFE;
    --whitecol: #FDFEFE;
    --darkcol: #3E1A3A;
}

body {
    /*body tiek izmantots, lai iestatītu fona krāsu un spēles izkārtojumu.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    background-color: var(--bgcol);
}

#puzzle_container {
    /* nosaka puzles laukuma platumu, augstumu, krāsu,ieliek robežu un ēnu*/
    position: relative;
    width: 50vh;
    height: 50vh;
    background-color: var(--darkcol);
    border-radius: 8px;
    border: 1px solid var(--mcol0);
    box-shadow: 0px 8px 0px var(--mcol0);
}

.puzzle_block {
    /* nosaka katra puzles kubiņa vietu, izmēru, krāsu, teksta krāsu, fonta noteikumus*/
    position: absolute;
    left: 0;
    top: 0;
    width: 33.4%;
    height: 33.4%;
    background-color: var(--mcol1);
    color: var(--whitecol);
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    cursor: pointer;
    user-select: none;
    transition: left 0.3s, top 0.3s;
}

/* Grūtības pakāpes */
#difficulty_container {
    /* Grūtības pakāpes, nosaka to platumu, augstumu un krāsu */
    display: flex;
    flex-direction: row;
    width: 50vh;
    height: 10vh;
    background-color: var(--darkcol);
    border-radius: 8px;
    margin-top: 22px;
}

.difficulty_button {
    /* nosaka katras grūtības pakāpes pogas fontu, izmēru, svaru un papildus laukumu, kā arī kursoru un efektu, kad pāriet tam ar kursoru*/
    flex-grow: 1;
    background-color: inherit;
    color: var(--mcol2);
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    padding-top: 5%;
    margin: 4px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.difficulty_button:hover {
    /* maina grūtības pakāpes pogas fontu un caurspīdīgumu kad tai pāriet ar kursoru*/
    opacity: 0.8;
    font-size: 3.5vh;
}

.difficulty_button.active {
    /* parāda kura grūtības pakāpes poga ir aktivizēta jebkurā dotajā brīdī*/
    background-color: inherit;
    color: var(--mcol0);
}